{% extends "succinctly/base.html" %}

{% block home-active %}
	class="active"
{% endblock %}

{% if user_is_loggedin %}
	{% block nav %}<li><a href='/accounts/logout'>Logout</a></li>{% endblock %}
{% else %}
	{% block nav-other %}<li><a href="/accounts/register">Sign Up</a></li>{% endblock %}
{% endif %}

{% block content %}

	{% if user_is_loggedin %}	
	<!-- If the user IS authenticated (logged in) -->
	<!-- Show the most recent article index -->
		{% if article_list %}
			<div id="columns">
				{% for article in article_list %}
					
						<div class="pin">
							<a href="{{ article.full_URL }}">
							<img src="{{ article.image_url }}">
							<h5><a href="http://www.techcrunch.com/">{{ article.webpage_name }}</a></h5>
							<h6 class="muted">{{ article.author }}</h6>
							<p>{{ article.summary }} <a href="{{ article.full_URL }}">#FullStory</a></p>
							</a>
						</div>
		
				{% endfor %}
			</div>
		{% else %}	
			<p>No summaries are available.</p>
		{% endif %}	


	{% elif user_is_loggedin = False %}
	<!-- If the user is not authenticated (not logged in) -->
	<!-- Show the landing page, allow user to log in or sign up -->
		<div class ="jumbotron">
        	<h1>Welcome to NewsBit</h1>
        	<p class="lead">Succinct is powerful. And now, so is your news.</p>
        	<a class="btn btn-large btn-primary" href="/accounts/login/">Login</a>
        	<a class="btn btn-large btn-primary" href="/accounts/register/">Sign up</a>
      </div>  
	{% endif %}	

{% endblock %}	

