{% extends "succinctly/base.html" %}

{% block content %}

	{% if user_is_loggedin %}	
	<!-- If the user IS authenticated (logged in) -->
	<!-- Show the most recent article index -->

	    {% block nav %}<li><a href='/accounts/logout'>Logout</a></li>{% endblock %}

		{% if article_list %}
			<div id="columns">
				{% for article in article_list %}
						<div class="pin">
							<img src="{{ article.image_url }}">
							<h5><a href="http://www.techcrunch.com/">{{ article.webpage_name }}</a></h5>
							<h6 class="muted">{{ article.author }}</h6>
							<p>{{ article.summary }} <a href={{ article.full_url }}>#FullStory</a></p>
						</div>
		
				{% endfor %}
			</div>
		{% else %}	
			<p>No summaries are available.</p>
		{% endif %}	


	{% else %}
	<!-- If the user is not authenticated (not logged in) -->
	<!-- Show the landing page, allow user to log in or sign up -->

	    {% block nav-else %}<li><a href="#">Sign Up</a></li>{% endblock %}

		<div class ="jumbotron">
        	<h1>Super awesome header crap!</h1>
        	<p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        	<a class="btn btn-large btn-success" href="/accounts/login/">Login</a>
        	<a class="btn btn-large btn-success" href="/accounts/register/">Sign up</a>
      </div>  
	{% endif %}	

{% endblock %}	

