{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'succinctly/bootstrap.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'succinctly/bootstrap-responsive.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'succinctly/custom.css' %}" />
<link href='http://fonts.googleapis.com/css?family=Merriweather:400,700|Open+Sans:400italic,400,300' rel='stylesheet' type='text/css'>

{% if article_list %}
	<ul>
		{% for article in article_list %}
			<li><a href="{% url 'succinctly:detail' article.id %}">{{ article.summary }}</a></li>
		{% endfor %}
	</ul>
{% else %}	
	<p>No summaries are available.</p>
{% endif %}			